body {
  background-color: #ccc;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.Tetris {
  padding: 10px;
}

.border {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #fff #808080 #808080 #fff;
  padding: 7px;
}

.matrix {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #808080 #fff #fff #808080;
  position: relative;
  line-height: 0;
}

.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
}

.cell_0 { /* default empty */
  border-width: 0 1px 1px 0;
  border-color: #808080;
}

.cell_1 { /* teal */
  background-color: #009688;
  border-color: #80cbc4 #00695c #00695c #80cbc4;
}

.cell_2 { /* blue */
  background-color: #2196f3;
  border-color: #64b5f6 #0d47a1 #0d47a1 #64b5f6;
}

.cell_3 { /* orange */
  background-color: #fb8c00;
  border-color: #ffb74d #e65100 #e65100 #ffb74d;
}

.cell_4 { /* yellow */
  background-color: #fdd835;
  border-color: #fff59d #f57f17 #f57f17 #fff59d;
}

.cell_5 { /* green */
  background-color: #c0ca33;
  border-color: #e6ee9c #827717 #827717 #e6ee9c;
}

.cell_6 { /* purple */
  background-color: #7e57c2;
  border-color: #9575cd #311b92 #311b92 #9575cd;
}

.cell_7 { /* red */
  background-color: #f44336;
  border-color: #ef9a9a #b71c1c #b71c1c #ef9a9a;
}
